@page "/report/{IncidentId:int}"



<section class="d-grid main-grid">
    @if (incident is null)
    {
        <Spinner />
    }
    else
    {

        <section class="it-incident d-grid incident-grid border">
            <div class="case">Case number</div>
            <div class="case-num">@incident.IncidentCase</div>
            <div class="start">Start time</div>
            <div class="start-time">@incident.StartTime</div>
            <div class="end">Resolved time</div>
            <div class="end-time">@incident.EndTime</div>
            <div class="severity">Severity</div>
            <div class="severity-level">@incident.Severity.IncidentSeverity</div>
            <div class="bridge">Troubleshooting bridge</div>
            <div class="bridge-type">@incident.Bridge.BridgeType</div>
        </section>
        <section class="it-descrition border">
        </section>
        <section class="it-impact border">
        </section>
        <section class="it-participant border">
        </section>
        <section class="it-note border">
        </section>
    }
</section>