@page "/report/{IncidentId:int}"



<section class="d-grid main-grid border-1">
    <div class="container h-area">
        <div class="row">
            <h1 class="roboto-b">Incident Report</h1>
        </div>
    </div>
    @if (incident is null)
    {
        <Spinner />
    }
    else
    {

        <section class="inc-area d-grid incident-grid border">
            <div class="case roboto-r">Case number</div>
            <div class="case-num">@incident.IncidentCase</div>
            <div class="start roboto-r">Start time</div>
            <div class="start-time">@incident.StartTime</div>
            <div class="end roboto-r">Resolved time</div>
            <div class="end-time">@incident.EndTime</div>
            <div class="severity roboto-r">Severity</div>
            <div class="severity-level">@incident.Severity.IncidentSeverity</div>
            <div class="bridge roboto-r">Troubleshooting bridge</div>
            <div class="bridge-type">@incident.Bridge.BridgeType</div>
        </section>
        <section class="desc-area border">
            <p>@incident.Description</p>
        </section>
        <section class="imp-area border">
            <p>@incident.CustomerImpact</p>
        </section>
        <section class="part-area border">
            <p>@participant</p>
        </section>
        <section>
            <p>@closureAction.ToDoList</p>
        </section>
        <section class="note-area border">
            <p>@incidentNotes</p>
        </section>
    }
</section>