<ModalForm DialogId="@DialogId" Title="@Title" ShowOkCancel="false">
    <div class="container-sm">
        <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="mb-3 row form-group">
                        <label for="inputCaseNumber" class="col-sm-3 col-form-label text-end fw-bold">Case Number</label>
                        <div class="col-sm-6">
                            <InputText type="text" class="form-control" id="inputCaseNumber"
                                       @bind-Value="@incident.IncidentCase" placeholder="Enter case number"></InputText>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="inputStartTime" class="col-sm-3 col-form-label text-end fw-bold">Start Time</label>
                        <div class="col-sm-6">
                            <InputDateTime class="form-control" id="inputStartTime" @bind-Value="@incident.StartTime"></InputDateTime>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="inputNotifiedTime" class="col-sm-3 col-form-label text-end fw-bold">Notified Time</label>
                        <div class="col-sm-6">
                            <InputDateTime id="inputNotifiedTime" class="form-control col-sm-8" @bind-Value="@incident.NotifiedTime"></InputDateTime>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="severitySelect" class="col-sm-3 col-form-label text-end fw-bold">Severity</label>
                        <div class="col-sm-6">
                            <InputSelect class="form-select" id="severitySelect" @bind-Value="@incident.Severity.Id">
                                <option value="0">Please select...</option>
                                @foreach (var severity in severities)
                                {
                                    <option value="@severity.Id">@severity.IncidentSeverity</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="severityBridge" class="col-sm-3 col-form-label text-end fw-bold">TS Bridge</label>
                        <div class="col-sm-6">
                            <InputSelect class="form-select" id="bridgeSelect" @bind-Value="@incident.Bridge.Id">
                                <option value="0">Please select...</option>
                                @foreach (var bridge in bridges)
                                {
                                    <option value="@bridge.Id">@bridge.BridgeType</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="statusBridge" class="col-sm-3 col-form-label text-end fw-bold">Current Status</label>
                        <div class="col-sm-6">
                            <InputSelect id="statusSelect" class="form-select" @bind-Value="@incident.Status.Id">
                                <option value="0">Please select...</option>
                                @foreach (var status in statuses)
                                {
                                    <option value="@status.Id">@status.CurrentStatus</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="inputDescription" class="col-sm-3 col-form-label text-end fw-bold">Short Description</label>
                        <div class="col-sm-9">
                            <InputTextArea rows="2" class="form-control" style="resize: none;" id="inputDescription"
                                           @bind-Value="@incident.Description"></InputTextArea>
                        </div>
                    </div>
                    <div class="mb-3 row form-group">
                        <label for="inputImpact" class="col-sm-3 col-form-label text-end fw-bold">Customer Impact</label>
                        <div class="col-sm-9">
                            <InputTextArea rows="2" class="form-control" style="resize: none;" id="inputImpact"
                                           @bind-Value="@incident.CustomerImpact"></InputTextArea>
                        </div>
                    </div>
                    <div class="mb-3 row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="form-check form-switch">
                                <InputCheckbox class="form-check-input col-sm-3" id="internalNotification"
                                               type="checkbox" @bind-Value="@addInternalNotifications"></InputCheckbox>
                                <label class="form-check-label" for="internalNotification">Internal Notification Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="form-check form-switch">
                                <InputCheckbox class="form-check-input col-sm-3" id="externalNotification"
                                               type="checkbox" @bind-Value="@addExternalNotifications"></InputCheckbox>
                                <label class="form-check-label" for="externalNotification">External Notification Required</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row d-flex justify-content-end">
                        <div class="col-sm-6 d-flex justify-content-between">
                            <button type="submit" class="btn btn-wide btn-danger me-5" data-bs-dismiss="modal">Create</button>
                            <button type="button" class="btn btn-width btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</ModalForm>